﻿
@{
    ViewBag.Title = "Clientes";
}

<h2></h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h1 class="panel-title pull-left">
                Clientes
            </h1>
            <button class="btn btn-primary pull-right" id="addNewClient" style="margin-right: 5px;">Nuevo Cliente</button>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered dt-responsive nowrap" id="clientsTable" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 10%;">Id</th>
                    <th style="width: 25%;">Razon Social</th>
                    <th style="width: 25%;">Nombre Comercial</th>
                    <th style="width: 10%;">RFC</th>
                    <th style="width: 10%;">CURP</th>
                    <th style="width: 30%;">Direccion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="newClientModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>

                <h4 class="modal-title">
                    Informaci&oacute;n del Nuevo Cliente
                </h4>
            </div>
            <div class="modal-body">
                <h1>
                    Cliente
                </h1>
                <hr>
                <div class="form-horizontal">
                    <input id="idCliente" type="hidden">

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tipo Persona
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" id="idTipoPersona">
                                <option value="0">0</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Razon Social
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="razonSocial" placeholder="Razon Social" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nombre Comercial
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="nombreComercial" placeholder="Nombre Comercial" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            RFC
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="rfc" placeholder="RFC" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            CURP
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="curp" placeholder="CURP" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Direcci&oacute;n
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="direccion" placeholder="Direcci&oacute;n" type="text">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <h2 class="panel-title pull-left">
                                Contactos
                            </h2>
                            <a class="btn btn-info pull-right" href="https://www.blogger.com/blogger.g?blogID=5042006714878717715#" id="addContact" style="margin-right: 5px;">Agregar</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered dt-responsive nowrap" id="contactsTable" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>IdCliente</th>
                                    <th>IdPuesto</th>
                                    <th>Puesto</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Telefono</th>
                                    <th>EMail</th>
                                    <th>Direccion</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="btnDismiss" data-dismiss="modal" type="button">Cerrar</button>
                <button class="btn btn-primary" id="saveClient" type="button">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contactDetailsModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">
                    Detalles del Contacto
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input id="idContacto" type="hidden">
                    <input id="idClienteC" type="hidden">

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Puesto
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" id="idPuestoTrabajo" data-error-msg="Debe indicar el puesto." required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nombre
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="nombre" placeholder="Nombre" data-error-msg="Debe indicar el nombre." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Apellido Paterno
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="apellidoP" placeholder="Apellido Paterno" type="text" data-error-msg="Debe indicar el apellido paterno." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Apellido Materno
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="apellidoM" placeholder="Apellido Materno" type="text" data-error-msg="Debe indicar el apellido materno." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Telefono
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="telefono" placeholder="Telefono" type="tel" data-error-msg="Debe indicar un telefono válido." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            E-Mail
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="eMail" placeholder="E-Mail" type="email" data-error-msg="Debe indicar un email válido." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Direccion
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="direccionC" placeholder="Direccion" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-lg-offset-9">
                            <a class="btn btn-default" href="https://www.blogger.com/blogger.g?blogID=5042006714878717715#" id="addToContactsList">Add To List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!--Data Table-->
    <script>
        $(function () {

            $(document).ready(function () {

                $.ajax({
                    url: '@Url.Action("GetPersonTypes", "Clients")',
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        var len = response.length;

                        $("#idTipoPersona").empty();
                        for (var i = 0; i < len; i++) {
                            var id = String(response[i]['idTipoPersona']);
                            var name = String(response[i]['descripcion']);

                            $("#idTipoPersona").append("<option value='" + id + "'>" + name + "</option>");
                        }

                    }
                });

                $.ajax({
                    url: '@Url.Action("GetJobs", "Clients")',
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        var len = response.length;

                        $("#idPuestoTrabajo").empty();
                        for (var i = 0; i < len; i++) {
                            var id = response[i]['idPuestoTrabajo'];
                            var name = response[i]['descripcion'];

                            $("#idPuestoTrabajo").append("<option value='" + id + "'>" + name + "</option>");
                        }

                    }
                });



            });

            var clientUrl = '@Url.Action("GetClients", "Clients")';

            var clientstable = $("#clientsTable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "ajax": {
                    "url": clientUrl,
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "idCliente", "name": "Id", "autoWidth": true },
                    { "data": "razonSocial", "name": "razonSocial", "autoWidth": true },
                    { "data": "nombreComercial", "name": "nombreComercial", "autoWidth": true },
                    { "data": "rfc", "name": "rfc", "autoWidth": true },
                    { "data": "curp", "name": "curp", "autoWidth": true },
                    { "data": "direccion", "name": "direccion", "autoWidth": true },
                    { "data": null, "name": "Action", "defaultContent": '<a href="#" class="editItem">Editar Cliente</a>', "autoWidth": true, "searchable": false }
                ]
            });

            var contactsTable = $('#contactsTable').DataTable({
                "responsive": true,
                "scrollX": true,
                "searching": false,
                "filter": false,
                "autoWidth": false
            });

            var saveUrl = '@Url.Action("SaveClient", "Clients", new { area = ""})';

            $("#addNewClient").click(function (e) {
                e.preventDefault();
                $("#idCliente").val(0);
                $("#idTipoPersona").val('');
                $("#razonSocial").val('');
                $("#nombreComercial").val('');
                $("#rfc").val('');
                $("#curp").val('');
                $("#direccion").val('');
                $("#detailsTable tbody tr").remove();
                $("#saveClient").html("Guardar");
                $('#newClientModal').modal('show');
            });

            $("#addContact").click(function (e) {
                e.preventDefault();
                clearItem();
                $('#contactDetailsModal').modal('show');
            });

            $("#addToContactsList").click(function (e) {
                e.preventDefault();

                if ($.trim($("#nombre").val()) == "" ||
                    $.trim($("#apellidoP").val()) == "" ||
                    $.trim($("#apellidoM").val()) == "" ||
                    $.trim($("#telefono").val()) == "" ||
                    $.trim($("#eMail").val()) == "" ||
                    $.trim($("#idPuestoTrabajo").val()) == "") {
                    window.alert('No ha especificado uno o mas campos');
                    return;
                };

                var IdContacto = $("#idContacto").val(),
                    IdCliente = $("#idContacto").val(),
                    Nombre = $("#nombre").val(),
                    ApellidoP = $("#apellidoP").val(),
                    ApellidoM = $("#apellidoM").val(),
                    Telefono = $("#telefono").val(),
                    EMail = $("#eMail").val(),
                    Direccion = $("#direccionC").val(),
                    IdPuestoTrabajo = $("#idPuestoTrabajo").val(),
                    PuestoTrabajo = $('#idPuestoTrabajo  option:selected').text(),
                    contactsTableBody = $("#contactsTable tbody");

                var t = $('#contactsTable').DataTable();
                t.row.add([
                    IdContacto,
                    0,
                    IdPuestoTrabajo,
                    PuestoTrabajo,
                    Nombre,
                    ApellidoP,
                    ApellidoM,
                    Telefono,
                    EMail,
                    Direccion,
                    '<a data-itemId="0" href="#" class="editDetail">Editar</a>',
                    '<a data-itemId="1" href="#" class="deleteDetail">Borrar</a>'
                ]).draw(false);

                //var contactItem = '<tr><td>' + IdContacto + '</td><td>' + IdCliente + '</td><td>' + IdPuestoTrabajo + '</td><td>' + Nombre + '</td> <td>' + ApellidoP + '</td> <td>' + ApellidoM + '</td> <td>' + Telefono + '</td> <td>' + EMail + '</td> <td>' + Direccion + '</td> <td><a data-itemId="0" href="#" class="deleteItem">Borrar</a></td></tr >';
                //contactsTableBody.append(contactItem);
                clearItem();

                //$('#contactsTable').columns.adjust().draw();

            });

            function clearItem() {
                $("#idContacto").val(0);
                $("#idClienteC").val(0);
                $("#idPuestoTrabajo").val(0);
                $("#nombre").val('');
                $("#apellidoP").val('');
                $("#apellidoM").val('');
                $("#telefono").val('');
                $("#eMail").val('');
                $("#direccionC").val('');
            }

            function clearItemClient() {
                $("#idCliente").val(0);
                $("#idTipoPersona").val('');
                $("#razonSocial").val('');
                $("#nombreComercial").val('');
                $("#rfc").val('');
                $("#curp").val('');
                $("#direccion").val('');
            }

            function saveClient(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: saveUrl,
                    data: data
                });
            }

            function getClient(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSingleClient", "Clients", new { area = "" })',
                    data: "clientId=" + id
                });
            }

            function getSingleContact(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSingleContact", "Clients", new { area = "" })',
                    data: "contactId = " + id
                });
            }

            function deleteContactItem(id) {
                return $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteContactItem", "Clients", new { area = "" })',
                    data: "id=" + id
                });
            }

            $("#saveClient").click(function (e) {
                e.preventDefault();

                if ($.trim($("#razonSocial").val()) == "" ||
                    $.trim($("#nombreComercial").val()) == "" ||
                    $.trim($("#idTipoPersona").val()) == "" ||
                    $.trim($("#rfc").val()) == "" ||
                    $.trim($("#curp").val()) == "" ||
                    $.trim($("#direccion").val()) == "") {
                    window.alert('No ha especificado uno o mas campos');
                    return;
                };

                var clientArr = [];
                clientArr.length = 0;

                $.each($("#contactsTable tbody tr"), function () {
                    clientArr.push({
                        IdContacto: $(this).find('td:eq(0)').html(),
                        IdCliente: $(this).find('td:eq(1)').html(),
                        IdPuestoTrabajo: $(this).find('td:eq(2)').html(),
                        Nombre: $(this).find('td:eq(4)').html(),
                        ApellidoP: $(this).find('td:eq(5)').html(),
                        ApellidoM: $(this).find('td:eq(6)').html(),
                        Telefono: $(this).find('td:eq(7)').html(),
                        EMail: $(this).find('td:eq(8)').html(),
                        Direccion: $(this).find('td:eq(9)').html()
                    });
                });

                var data = JSON.stringify({
                    IdCliente: $("#idCliente").val(),
                    IdTipoPersona: $("#idTipoPersona").val(),
                    RazonSocial: $("#razonSocial").val(),
                    NombreComercial: $("#nombreComercial").val(),
                    RFC: $("#rfc").val(),
                    CURP: $("#curp").val(),
                    Direccion: $("#direccion").val(),
                    Contactos: clientArr
                });

                $.when(saveClient(data)).then(function (response) {
                    window.location.reload(true);
                    clearItemClient();
                    var table = $('#contactsTable').DataTable();

                    var rows = table
                        .rows()
                        .remove()
                        .draw();
                    //goToIndex();
                    //console.log(response);
                }).fail(function (err) {
                    window.alert(err);
                    //console.log(err);
                });
            });

            function goToIndex() {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: '@Url.Action("Index", "Clients", new { area = "" })'
                });
            }

            $(document).on("click", '.editItem', function (e) {
                var table = $('#clientsTable').DataTable();
                var data = table.row($(this).parents('tr')).data();
                //console.log(data);
                e.preventDefault();
                var id = data.idCliente;
                //console.log(id);
                $.when(getClient(id)).then(function (res) {
                    var detArr = [];
                    $("#idCliente").val(res.result.IdCliente);
                    $("#idTipoPersona").val(res.result.IdTipoPersona);
                    $("#razonSocial").val(res.result.RazonSocial);
                    $("#nombreComercial").val(res.result.NombreComercial);
                    $("#rfc").val(res.result.RFC);
                    $("#curp").val(res.result.CURP);
                    $("#direccion").val(res.result.Direccion);

                    $.each(res.result.Contactos, function (i, v) {
                        var t = $('#contactsTable').DataTable();
                        t.row.add([
                            v.IdContacto,
                            v.IdCliente,
                            v.IdPuestoTrabajo,
                            v.PuestoTrabajo.Descripcion,
                            v.Nombre,
                            v.ApellidoP,
                            v.ApellidoM,
                            v.Telefono,
                            v.EMail,
                            v.Direccion,
                            '<a data-itemId="0" href="#" class="editDetail">Editar</a>',
                            '<a data-itemId="1" href="#" class="deleteDetail">Borrar</a>'
                        ]).draw(false);
                            
                    });
                    $("#saveClient").html("Actualizar");
                    $('#newClientModal').modal('show');
                }).fail(function (err) {
                    window.alert(err);
                    //console.log(err);
                });
            });

            $(document).on("click", '.editDetail', function (e) {
                var table = $('#contactsTable').DataTable();
                var data = table.row($(this).parents('tr')).data();
                
                e.preventDefault();
                var id = $(this).attr("data-itemid");

                $("#idContacto").val(data.idContacto);
                $("#idClienteC").val(data.idClienteC);
                $("#idPuestoTrabajo").val(data.idPuestoTrabajo);
                $("#nombre").val(data.nombre);
                $("#apellidoP").val(data.apellidoP);
                $("#apellidoM").val(data.apellidoM);
                $("#telefono").val(data.telefono);
                $("#eMail").val(data.eMail);
                $("#direccionC").val(data.direccionC);

                $('#contactDetailsModal').modal('show');

            });

            $(document).on('click', 'a.deleteDetail', function (e) {
                e.preventDefault();
                var $self = $(this);

                $(this).parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                    $(this).remove();
                });

                //if ($(this).attr('data-itemId') == "1") {
                    
                //} else {
                //    $.when(deleteContactItem($(this).attr('data-itemId'))).then(function (res) {
                //        $self.parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                //            $(this).remove();
                //        });
                //    }).fail(function (err) {

                //    });
                //}
            });

            $("#btnDismiss").click(function (e) {
                clearItemClient();
                var table = $('#contactsTable').DataTable();

                var rows = table
                    .rows()
                    .remove()
                    .draw();
            });

        });
    </script>
}